<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings />
  <connectionStrings>
    <add name="Apolo_ManuliConnectionString" connectionString="Data Source=192.168.0.3;Initial Catalog=manuli;User ID=sa;Password=ssuark.dba" providerName="System.Data.SqlClient" />
    <add name="BaseTIConnectionString" connectionString="Data Source=192.168.0.3;Initial Catalog=BaseTI;User ID=sa;Password=ssuark.dba" providerName="System.Data.SqlClient" />
    <add name="ConnectionString" connectionString="Provider=SQLOLEDB;Data Source=192.168.0.3;Integrated Security=SSPI;Initial Catalog=Apolo_Manuli" providerName="System.Data.OleDb" />
    <add name="Apolo_ManuliConnectionString2" connectionString="Data Source=192.168.0.3;Initial Catalog=Apolo_Manuli;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="ConnectionString1" connectionString="Provider=SQLOLEDB;Data Source=192.168.0.3;Integrated Security=SSPI;Initial Catalog=Teste_Manuli1" providerName="System.Data.OleDb" />
    <add name="Apolo_ManuliConnectionString3" connectionString="Data Source=192.168.0.3;Initial Catalog=Apolo_Manuli;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="Apolo_ManuliConnectionString4" connectionString="Data Source=192.168.0.3;Initial Catalog=Apolo_Manuli;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="ConnectionString2" connectionString="Provider=SQLOLEDB;Data Source=192.168.0.3;Persist Security Info=True;Password=ssuark.dba;User ID=sa;Initial Catalog=Apolo_Manuli" providerName="System.Data.OleDb" />
    <add name="Apolo_ManuliConnectionString5" connectionString="Data Source=192.168.0.3;Initial Catalog=Apolo_Manuli;Persist Security Info=True;User ID=sa;Password=ssuark.dba" providerName="System.Data.SqlClient" />
    <add name="Apolo_ManuliConnectionString6" connectionString="Data Source=192.168.0.3;Initial Catalog=Apolo_Manuli;Persist Security Info=True;User ID=sa;Password=ssuark.dba" providerName="System.Data.SqlClient" />
    <add name="Apolo_ManuliConnectionString7" connectionString="Data Source=192.168.0.3;Initial Catalog=Apolo_Manuli;Persist Security Info=True;User ID=sa;Password=ssuark.dba" providerName="System.Data.SqlClient" />
    <add name="Apolo_ManuliConnectionString8" connectionString="Data Source=192.168.0.3;Initial Catalog=Apolo_Manuli;User ID=sa;Password=ssuark.dba" providerName="System.Data.SqlClient" />
    <add name="manuliConnectionString" connectionString="Data Source=192.168.203.240;Initial Catalog=manuli;Persist Security Info=True;User ID=sa;Password=eura@!1" providerName="System.Data.SqlClient" />
    <add name="manuliConnectionString2" connectionString="Data Source=192.168.203.240;Initial Catalog=manuli;Persist Security Info=True;User ID=sa;Password=eura@!1" providerName="System.Data.SqlClient" />
    <add name="manuliConnectionString3" connectionString="Data Source=192.168.203.240;Initial Catalog=manuli;Persist Security Info=True;User ID=sa;Password=eura@!1" providerName="System.Data.SqlClient" />
    <add name="manuliConnectionString4" connectionString="Data Source=192.168.203.240;Initial Catalog=manuli;Persist Security Info=True;User ID=sa;Password=eura@!1" providerName="System.Data.SqlClient" />
    <add name="ConnectionString3" connectionString="Provider=SQLOLEDB;Data Source=192.168.203.240;Persist Security Info=True;Password=eura@!1;User ID=sa;Initial Catalog=manuli" providerName="System.Data.OleDb" />
    <add name="manuliConnectionString5" connectionString="Data Source=192.168.0.240;Initial Catalog=manuli;Persist Security Info=True;User ID=sa;Password=eura@!1" providerName="System.Data.SqlClient" />
    <add name="manuliConnectionString1" connectionString="Data Source=192.168.0.3;Initial Catalog=manuli;Persist Security Info=True;User ID=sa;Password=ssuark.dba" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <customErrors mode="Off" />
    <compilation targetFramework="4.0" debug="true">
      <assemblies>
        <add assembly="Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="Microsoft.ReportViewer.Common, Version=10.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="Microsoft.Build.Framework, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Management, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
      </assemblies>
      <buildProviders>
        <add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      </buildProviders>
    </compilation>
    <!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
    <authentication mode="Windows" />
    <!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
    <httpHandlers>
      <add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" validate="false" />
    </httpHandlers>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"><controls>
        <add tagPrefix="ajaxToolkit" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit" />
      </controls></pages>
  </system.web>
  <!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <add name="ReportViewerWebControlHandler" preCondition="integratedMode" verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" />
    </handlers>
  </system.webServer>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="2147483647" />
      </webServices>
    </scripting>
  </system.web.extensions>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="itextsharp" publicKeyToken="8354ae6d2174ddca" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.5.12.0" newVersion="5.5.12.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>