<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AjaxControlToolkit" version="17.1.1.0" targetFramework="net48" />
  <package id="AjaxControlToolkit.dll" version="1.0.10123" targetFramework="net48" />
  <package id="AjaxControlToolkit-1.0.20229.24049" version="1.0.20229.24049" targetFramework="net48" />
  <package id="ExcelLibrary" version="1.2011.7.31" targetFramework="net48" />
  <package id="iTextSharp" version="5.5.12" targetFramework="net48" />
  <package id="JSON" version="1.0.1" targetFramework="net48" />
  <package id="log4net" version="1.2.10" targetFramework="net48" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="7.0.0" targetFramework="net481" />
  <package id="Microsoft.Office.Interop.Excel" version="15.0.4795.1001" targetFramework="net48" />
  <package id="Microsoft.Office.Interop.Word" version="15.0.4797.1004" targetFramework="net48" />
  <package id="Microsoft.ReportViewer.Common" version="10.0.40219.1" targetFramework="net48" />
  <package id="Microsoft.ReportViewer.Common.2010SP1UpdateFull" version="10.0.40219.329" targetFramework="net48" />
  <package id="Microsoft.ReportViewer.WebForms" version="10.0.40219.1" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net48" />
  <package id="Office" version="12.0.0" targetFramework="net48" />
  <package id="Office.Interop.Excel" version="12.0.0" targetFramework="net48" />
  <package id="RestSharp" version="106.11.7" targetFramework="net481" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net481" />
  <package id="System.IO" version="4.3.0" targetFramework="net48" />
  <package id="System.Memory" version="4.5.5" targetFramework="net481" />
  <package id="System.Net.Http" version="4.3.4" targetFramework="net48" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net481" />
  <package id="System.Runtime" version="4.3.0" targetFramework="net48" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.0.0" targetFramework="net481" />
  <package id="System.Security.Cryptography.Algorithms" version="4.3.0" targetFramework="net48" />
  <package id="System.Security.Cryptography.Encoding" version="4.3.0" targetFramework="net48" />
  <package id="System.Security.Cryptography.Primitives" version="4.3.0" targetFramework="net48" />
  <package id="System.Security.Cryptography.X509Certificates" version="4.3.0" targetFramework="net48" />
  <package id="System.Text.Encodings.Web" version="7.0.0" targetFramework="net481" />
  <package id="System.Text.Json" version="7.0.2" targetFramework="net481" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net481" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net481" />
</packages>