<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="CrystalImageCleaner-AutoStart" value="true"/>
    <add key="CrystalImageCleaner-Sleep" value="60000"/>
    <add key="CrystalImageCleaner-Age" value="120000"/>
    <!-- Acessos SAP-->
    <add key="ServerSLDSAP" value="https://manu-sap01:40000"/>
    <add key="ServerSAP" value="MANU-SAP01\SAP10"/>
    <add key="ServerLicencaSAP" value="manu-sap01:30000"/>
    <add key="UsuarioBancoSAP" value="sa"/>
    <add key="SenhaBancoSAP" value="bdsapb12023@!1"/>
    <add key="BancoDadosSAP" value="SBO_ManuliFitasa_PROD"/>
    <!--<add key="BancoDadosSAP"  value="Base_TST_TI" />-->
    <!--<add key ="BancoDadosSAP" value ="SBO_ManuliFitasa_TST_Integrado"/>-->
    <add key="UsuarioAcessoSAP" value="marlon.santos"/>
    <add key="SenhaUsuarioAcessoSAP" value="1234"/>
    <!-- Acessos CRM-->
    <!--<add key="StringConexaoBD" value="server=192.168.0.35\SAP10; user id=sa; password='bdsapb12023@!1'; database=CRM_MANULI; application name=CRM_MANULI;"/>-->
    <add key="StringConexaoBD" value="server=192.168.0.35\SAP10; user id=sa; password='bdsapb12023@!1'; database=CRM_MANULI; application name=CRM_MANULI_HML;"/>
    <!--<add key ="StringConexaoBD" value="server=192.168.0.3; user id=sa; password='ssuark.dba'; database=CRM_MANULI_TESTE; application name=CRM_MANULI_TESTE;"/>-->
    <!--Acessos SAP SOMENTE CONSULTAS-->
    <add key="StringConexaoBDSAP" value="server=192.168.0.35\SAP10; user id=sa; password='bdsapb12023@!1'; database=SBO_ManuliFitasa_PROD; application name=SBO_ManuliFitasa_PROD;"/>
    <!--<add key="StringConexaoBDSAP"  value="server=192.168.0.15; user id=sa; password='bdsapb12019@!1'; database=Base_TST_TI; application name=Base_TST_TI;"/>-->
    <!--Acessos HUB-->
    <add key="AcessoURLHUB" value="http://192.168.0.15:90/"/>
    <!--<add key ="AcessoURLHUB" value ="http://192.168.0.15:91/"/>-->
    <add key="HashHUB" value="56fd784c2311e1ebfd1db871beeef8a9"/>
    <!--Acessos HUB-->
    <!--<add key="AcessoURLCRMAPI" value="http://crmapi.manupackaging.com.br/" />-->
    <add key="AcessoURLCRMAPI" value="http://192.168.0.38:8080/"/>
    <!--<add key="AcessoURLCRMAPI" value="http://192.168.0.38/CRMAPIV2HML/"/>-->
    <!--Expiracao da sessão-->
    <add key="TempoDaSessao" value="60"/>
    <!--Tempo para rodar a Thread novamente em horas e Horário que vai Rodar-->
    <add key="TempoParaThread" value="1"/>
    <add key="HorarioParaThread" value="1"/>
    <add key="IntervaloParaThread" value="4"/>
    <!--Acessos CRM Usados no Crystal-->
    <add key="ServerCRM" value="192.168.0.35\SAP10"/>
    <add key="UsuarioBancoCRM" value="sa"/>
    <add key="SenhaBancoCRM" value="bdsapb12023@!1"/>
    <add key="BancoDadosCRM" value="CRM_MANULI"/>
    <!--<add key="BancoDadosCRM" value="CRM_MANULI_TESTE" />-->
  </appSettings>
  <connectionStrings>
    <add name="Apolo_ManuliConnectionString" connectionString="Data Source=192.168.0.3;Initial Catalog=manuli;User ID=sa;Password=ssuark.dba" providerName="System.Data.SqlClient"/>
    <add name="BaseTIConnectionString" connectionString="Data Source=192.168.0.3;Initial Catalog=BaseTI;User ID=sa;Password=ssuark.dba" providerName="System.Data.SqlClient"/>
    <add name="ConnectionString" connectionString="Provider=SQLOLEDB;Data Source=192.168.0.3;Integrated Security=SSPI;Initial Catalog=Apolo_Manuli" providerName="System.Data.OleDb"/>
    <add name="Apolo_ManuliConnectionString2" connectionString="Data Source=192.168.0.3;Initial Catalog=Apolo_Manuli;Integrated Security=True" providerName="System.Data.SqlClient"/>
    <add name="ConnectionString1" connectionString="Provider=SQLOLEDB;Data Source=192.168.0.3;Integrated Security=SSPI;Initial Catalog=Teste_Manuli1" providerName="System.Data.OleDb"/>
    <add name="Apolo_ManuliConnectionString3" connectionString="Data Source=192.168.0.3;Initial Catalog=Apolo_Manuli;Integrated Security=True" providerName="System.Data.SqlClient"/>
    <add name="Apolo_ManuliConnectionString4" connectionString="Data Source=192.168.0.3;Initial Catalog=Apolo_Manuli;Integrated Security=True" providerName="System.Data.SqlClient"/>
    <add name="ConnectionString2" connectionString="Provider=SQLOLEDB;Data Source=192.168.0.3;Persist Security Info=True;Password=ssuark.dba;User ID=sa;Initial Catalog=Apolo_Manuli" providerName="System.Data.OleDb"/>
    <add name="Apolo_ManuliConnectionString5" connectionString="Data Source=192.168.0.3;Initial Catalog=Apolo_Manuli;Persist Security Info=True;User ID=sa;Password=ssuark.dba" providerName="System.Data.SqlClient"/>
    <add name="Apolo_ManuliConnectionString6" connectionString="Data Source=192.168.0.3;Initial Catalog=Apolo_Manuli;Persist Security Info=True;User ID=sa;Password=ssuark.dba" providerName="System.Data.SqlClient"/>
    <add name="Apolo_ManuliConnectionString7" connectionString="Data Source=192.168.0.3;Initial Catalog=Apolo_Manuli;Persist Security Info=True;User ID=sa;Password=ssuark.dba" providerName="System.Data.SqlClient"/>
    <add name="Apolo_ManuliConnectionString8" connectionString="Data Source=192.168.0.3;Initial Catalog=Apolo_Manuli;User ID=sa;Password=ssuark.dba" providerName="System.Data.SqlClient"/>
    <add name="manuliConnectionString" connectionString="Data Source=192.168.203.240;Initial Catalog=manuli;Persist Security Info=True;User ID=sa;Password=eura@!1" providerName="System.Data.SqlClient"/>
    <add name="manuliConnectionString2" connectionString="Data Source=192.168.203.240;Initial Catalog=manuli;Persist Security Info=True;User ID=sa;Password=eura@!1" providerName="System.Data.SqlClient"/>
    <add name="manuliConnectionString3" connectionString="Data Source=192.168.203.240;Initial Catalog=manuli;Persist Security Info=True;User ID=sa;Password=eura@!1" providerName="System.Data.SqlClient"/>
    <add name="manuliConnectionString4" connectionString="Data Source=192.168.203.240;Initial Catalog=manuli;Persist Security Info=True;User ID=sa;Password=eura@!1" providerName="System.Data.SqlClient"/>
    <add name="ConnectionString3" connectionString="Provider=SQLOLEDB;Data Source=192.168.203.240;Persist Security Info=True;Password=eura@!1;User ID=sa;Initial Catalog=manuli" providerName="System.Data.OleDb"/>
    <add name="manuliConnectionString5" connectionString="Data Source=192.168.0.240;Initial Catalog=manuli;Persist Security Info=True;User ID=sa;Password=eura@!1" providerName="System.Data.SqlClient"/>
    <add name="manuliConnectionString1" connectionString="Data Source=192.168.0.3;Initial Catalog=manuli;Persist Security Info=True;User ID=sa;Password=ssuark.dba" providerName="System.Data.SqlClient"/>
    <add name="Excel03ConString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source={0};Extended Properties='Excel 8.0;HDR={1}'"/>
    <add name="Excel07ConString" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source={0};Extended Properties='Excel 8.0;HDR={1}'"/>
  </connectionStrings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <httpRuntime executionTimeout="1200" requestValidationMode="2.0"/>
    <webServices>
      <protocols>
        <add name="HttpGet"/>
        <add name="HttpPost"/>
      </protocols>
    </webServices>
    <customErrors mode="Off"/>
    <compilation targetFramework="4.8" debug="true">
      <assemblies>
        <add assembly="Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="Microsoft.ReportViewer.Common, Version=10.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="Microsoft.Build.Framework, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Management, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="log4net, Version=1.2.10.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304"/>
        <add assembly="CrystalDecisions.Web, Version=13.0.3500.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304"/>
        <add assembly="CrystalDecisions.Shared, Version=13.0.3500.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304"/>
        <add assembly="CrystalDecisions.ReportSource, Version=13.0.3500.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304"/>
        <add assembly="CrystalDecisions.ReportAppServer.Controllers, Version=13.0.3500.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304"/>
        <add assembly="CrystalDecisions.ReportAppServer.DataDefModel, Version=13.0.3500.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304"/>
        <add assembly="CrystalDecisions.CrystalReports.Engine, Version=13.0.3500.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304"/>
        <!--<add assembly="Microsoft.ReportViewer.WebForms, Version=12.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91"/>-->
        <!--<add assembly="Microsoft.ReportViewer.Common, Version=12.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91"/>-->
        <add assembly="CrystalDecisions.ReportAppServer.ClientDoc, Version=13.0.3500.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
      </assemblies>
      <buildProviders>
        <add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
      </buildProviders>
    </compilation>
    <!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
    <authentication mode="Windows"/>
    <!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
    <httpHandlers>
      <add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" validate="false"/>
      <add verb="GET" path="CrystalImageHandler.aspx" type="CrystalDecisions.Web.CrystalImageHandler, CrystalDecisions.Web, Version=13.0.3500.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
    </httpHandlers>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID" validateRequest="false">
      <controls>
        <add tagPrefix="ajaxToolkit" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit"/>
      </controls>
    </pages>
  </system.web>
  <!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <handlers>
      <add name="ReportViewerWebControlHandler" preCondition="integratedMode" verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
      <add name="CrystalImageHandler.aspx_GET" verb="GET" path="CrystalImageHandler.aspx" type="CrystalDecisions.Web.CrystalImageHandler, CrystalDecisions.Web, Version=13.0.3500.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" preCondition="integratedMode"/>
    </handlers>
    <rewrite>
      <rules>
        <rule name="Portal" stopProcessing="true">
          <match url="^$"/>
          <conditions>
            <add input="{HTTP_HOST}" pattern="^portalcolaborador\.manupackaging\.com\.br$"/>
          </conditions>
          <action type="Redirect" url="/PortalColaborador/DocumentosGerais/DocumentosGeraisWebForm.aspx"/>
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="2147483647"/>
      </webServices>
    </scripting>
  </system.web.extensions>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="itextsharp" publicKeyToken="8354ae6d2174ddca" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-5.5.12.0" newVersion="5.5.12.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-2.2.29.0" newVersion="2.2.29.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="ComunicacaoSAPSoap1" receiveTimeout="00:20:00" sendTimeout="00:20:00" maxReceivedMessageSize="2147483647"/>
        <binding name="ComunicacaoSAPSoap"/>
      </basicHttpBinding>
      <customBinding>
        <binding name="ComunicacaoSAPSoap121">
          <textMessageEncoding messageVersion="Soap12"/>
          <httpTransport/>
        </binding>
        <binding name="ComunicacaoSAPSoap12">
          <textMessageEncoding messageVersion="Soap12"/>
          <httpTransport/>
        </binding>
      </customBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:37636/WEBServiceSAP/ComunicacaoSAP.asmx" binding="basicHttpBinding" bindingConfiguration="ComunicacaoSAPSoap" contract="ServicoComunicacaoSAPLocal.ComunicacaoSAPSoap" name="ComunicacaoSAPSoap"/>
      <endpoint address="http://192.168.0.4/CrmManuli/WebServiceSAP/ComunicacaoSAP.asmx" binding="basicHttpBinding" bindingConfiguration="ComunicacaoSAPSoap1" contract="ServicoComunicacaoSAP.ComunicacaoSAPSoap" name="ComunicacaoSAPSoap1"/>
    </client>
  </system.serviceModel>
</configuration>
<!--ProjectGuid: {FC0D7484-7897-4C79-B4A9-27C83DA384B1}-->