.infoBox { text-align:left; overflow: auto; background-color: #FFF; width: 450px; font-family: Arial, Helvetica, sans-serif; font-size: 14px; border: 2px solid #3fa7d8; border-radius: 3px; margin-top: 10px }
.infoBox p {text-align:left;  padding: 0 15px }
.infoBox:before { text-align:left; overflow: auto; border-left: 10px solid transparent; border-right: 10px solid transparent; border-bottom: 10px solid #3fa7d8; top: -10px; content: ""; height: 0; position: absolute; width: 0; left: 138px }


